<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-controller="Empmanipctrl">
    Chose no of rows <input type="number" step="1" min="0" max="6" ng-model="limit"><br>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>id
                <br>
                <input type="text" ng-model="search.id" placeholder="Search for ID">
            </th>
            <th>Passengername
                <br>
                <input type="text" ng-model="search.Passengername" placeholder="Search for Name">
            </th>
                <th>trainno
                <br>
                <input type="text" ng-model="search.trainno" placeholder="Search for trainno">
            </th>
            <th>source_destination
                <br>
                <input type="text" ng-model="search.source_destination" placeholder="Search for source_destination">
            </th>
            <th>Ticketprice
                <br>
                <input type="text" ng-model="search.Ticketprice" placeholder="Search for Ticketprice">
            </th>
              <th>Bookdate
                <br>
                <input type="text" ng-model="search.Bookdate" placeholder="Search for Bookdate">
            </th>
        </tr>
        <tr ng-repeat="item in entry|filter:search| limitTo:limit">
            <td>{{item.id}}</td>
            <td>{{item.Passengername|uppercase}}</td>
            <td>{{item.trainno}}</td>
            <td>{{item.source_destination|uppercase}}</td>
            <td>{{item.Ticketprice|currency:"₹"}}</td>
            <td>{{item.Bookdate|date}}</td>
        </tr>
    </table>

</body>
</html>
